@{
    ViewData["Title"] = "Home Page";
}

<div class="card">
    <div class="card-header">Infantil</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://a-static.mlcdn.com.br/618x463/kit-lote-3-vestidos-infantil-menina-roupa-infantil-feminina-1-ao-8-nacional/bcbabyshop2/9547986807/436dd2b723d5f4c98745abf28d0f9e26.jpg" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Vestido Vermelho</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 150.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://produtos.fotos-riachuelo.com.br/media/catalog/product/cache/3541e153ef6ead3044d72626c3847968/m/a/macacao-bebe-monstrinhos-branco-13999206_foto1_frontal.jpg" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Macacão Bebê</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 125.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://produtos.fotos-riachuelo.com.br/media/catalog/product/cache/3541e153ef6ead3044d72626c3847968/r/o/roupao-interativo-carter--s-sapinho---azul-13764209_foto1_frontal.jpg" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Roupa Cinza</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 139.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://produtos.fotos-riachuelo.com.br/media/catalog/product/cache/3541e153ef6ead3044d72626c3847968/r/o/roupao-infantil-unicornio-capuz---rosa-12293326_foto1_frontal.jpg" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Roupão Colorido</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 99.00</p>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Juvenil</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRpBujXEZJpBlmLABpfsIzu98atZ7y5BEdj6qzhmIK0OFrDYYa3BzFkHRonVHlq_5k-RFNTKMQ&usqp=CAc" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Blusa Cropped</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 40.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://919028l.ha.azioncdn.net/img/2020/07/produto/11456/1/home/macaquinho-juvenil-feminino-babe-preto-rezzato-30715-2.jpg" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Macaquinho</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 80.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS_ZthBGALtqTWVzIyOMYfV-AL1Cs8WLgpVRjrR3NprD3y7TjZTKSSyLoJqXkYfgc5zUNbC9xTB&usqp=CAc" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Conjunto Arco íris</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 80.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTobVePBIreo7LTkLDjC-eMITScRkfyZYExK3KtI2VuH0fGLXPPyRQuWv6CnFVPkMMEgrekLAjsBQ&usqp=CAc" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Macaquinho Rosa</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 50.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card">
    <div class="card-header">Infantil</div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSShTg20dmqj5-jW5LbxCSo5igJcnvdo8BFKVutx0TogIHqAGWOxbMRdVTXTjW4FUrfq3hDMziu3A&usqp=CAc" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Vestido Jeans</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 40.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://img.ltwebstatic.com/images3_pi/2021/01/26/1611634369c17701e911a6066fefdb5a74c89b1509_thumbnail_600x.webp" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Vestido Vermelho</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 120.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://img.ltwebstatic.com/images3_pi/2020/09/23/1600827884cc9daab6e8782d7be98db703382096f2_thumbnail_600x.webp" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Manta Listrada</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 75.00</p>
                    </div>
                </div>
            </div>
            <div class="col-md-3 col-sm-12">
                <div class="product">
                    <div class="product-content">
                        <div class="product-img">
                            <img src="https://img.ltwebstatic.com/images3_pi/2020/09/01/1598938323921d5f25cd9a221d0fe07d7481473187_thumbnail_600x.webp" width="200" height="250">
                        </div>
                    </div>

                    <div class="product-info">
                        <div class="product-info-top">
                            <h4 class="sm-title">Conjunto Cinza</h4>
                            <div class="rating">
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="fas fa-star"></i></span>
                                <span><i class="far fa-star"></i></span>
                            </div>
                        </div>
                        <p>Descrição</p>
                        <p class="product-price">R$ 150.00</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

